/** Global **/

/* Preset Colors - Dark Theme! */
:root {
    --page-background: #303033;
    --default-text-color: #D0D0D0;
    --accent-text-color: #f56e0b;
    --accent-border-color: #aa4d0b;
    --secondary-background: #505054;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--page-background);
    color: var(--default-text-color);
}

header {
    background-color: var(--secondary-background);
    color: var(--accent-text-color);
    padding: 50px 0px;
}

.title {
    margin: 0;
}

.teamCards {
    padding: 50px 50px;
}

.card {
    background-color: var(--secondary-background);
    border: thick solid var(--accent-border-color);
}

h3 {
    padding-bottom: 5px;
    border-bottom: medium solid var(--page-background);
    font-weight: normal;
}